table,  td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

  table{
      margin-left: 6%;
  }

  td{
      padding: 15px;
      background-color: antiquewhite;
    }
    
    .hide{
        border: none;
        background-color: white;
  }

  



